/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
/*Results-section*/
.stats-section {
    background-image: url('./headphones_hero_2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.stats-text {
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.6;
}
.stats-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.stat-item {
    width: 150px;
    height: 150px;
    background-color: #ff6565;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.stat-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.stat-label {
    font-size: 14px;
}